* {
	margin: 0;
	padding: 0;
}
img{
	width: 100%;  
}
a {
	color:inherit; /*親要素の設定を継承*/
  text-decoration: none;
}
a:hover{
    opacity: 0.6;
}
header {
	background-color: #ed143d;
	color:#fff;
	}
nav ul {
	display: flex;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	padding: 10px 0;
	list-style-type: none;
}
li {
	flex: 1;
}
.main_visual {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
  min-height: 340px;
	background-image: url(../img/top_img.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color:#fff;
}
h1 {
	font-size: 4em;
	letter-spacing: 0.2em;/*文字間の調整*/
	margin-left: 0.2em;
	margin-bottom: 10px;
}
.main_visual p {
	font-size: 18px;
}
.main_visual img {
	width: 20%;
}
main{
    color: #333;
}
h2 {
	text-align: center;
	border-bottom: 1px solid #ffc0cb;
	margin-top: 20px;
	margin-bottom: 20px;
	letter-spacing: 0.2rem;
}
.news-container {
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
	max-width: 1180px;
}
.news article {
	flex: 0 0 300px;	
	padding-bottom:20px;
	box-shadow: 0 0 10px #ddd;
}
article p{
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: justify;
}
time {
	background-color: red;
	color: #fff;
	font-size: 12px;
	border-radius: 10px;
	padding: 0 5px;
}
.news span {
	font-size: 14px;
	color: #6495ed;
}
.access{
	margin-bottom: 30px;
}
.access-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;	
	margin: 0 auto;
	max-width: 1180px;
}
.access-container figure {
	flex: 0 0 300px;
}
iframe{
    vertical-align: bottom
}
table {
	margin-left: 20px;
	border-top: 0.5px dotted #000;
}
th{
  	vertical-align: top;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom:0.5px dotted #000;
}
td {
	vertical-align: top;
	padding-left: 0.5em;
	padding-bottom: 1rem;
	padding-top: 1rem;
	border-bottom:0.5px dotted #000;
}
footer {
	background-color: #ed143d;
	height: 30px;
	text-align: center;
	color: #fff;
}


